.userdetails {
    position: relative;
    left: 780px;
    border-radius: 20px;
    top: 10px;
    background: white;
}

.errormsg {
    color: red;
    position: relative;
    left: 70px;
}

.submitbtn {
    background: #2980b9;
    position: relative;
    right: 10px;
}

.back {
    position: relative;
    left: 255px;
    bottom: 49px;
}

.submitbtn a {
    color: white;
}

    .submitbtn a:hover {
        color: white;
        text-decoration: none;
    }
