.userdetails {
    position: relative;
    left: 780px;
    border-radius: 20px;
    top: 10px;
    background: white;
}

.viewbtn {
    background: #2980b9;
    position: relative;
    left: 190px;
    top: 20px;
}

    .viewbtn a {
        color: white;
    }

        .viewbtn a:hover {
            color: white;
            text-decoration: none;
        }

.mbtn {
    position: relative;
    right: 68px;
    top: 69px;
}

.submitbtn {
    background: #2980b9;
}

    .submitbtn a {
        color: white;
    }

        .submitbtn a:hover {
            color: white;
            text-decoration: none;
        }

.back {
    position: relative;
    left: 270px;
    bottom: 48px;
}

.dropdown1 {
    min-width: 278px;
}
