<link href="~/Content/EMS_StyleSheet.css" rel="stylesheet" type="text/css" />
<body id="error">
    <div class="container">
        <div id="X1" class="X">
        </div>
        <div id="X2" class="X">
        </div>
        <div class="error-number">
            OOPS
        </div>
        <div class="error-info">
            COULD NOT CONNECT TO THE DATABASE AT THIS MOMENT.PLEASE TRY LATER.
        </div>
    </div>
</body>